* text=auto

# Keep executable scripts portable when commits are created on Windows.
*.sh text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.patch text eol=lf whitespace=-blank-at-eol,-blank-at-eof
